/************************
    Colors
*************************/

body, article, main {
    background: #777777;
    color: #ebebeb;
}

header, nav, section, aside, details, mark, footer, div, h1, h2, h3, p {
    background: #ebebeb;
    color: #777777;
}

/************************
    Fonts
*************************/

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2em;
}

h1, h2, h3 {
    display: inline;
}

/************************
    Sizing
*************************/

header, nav, footer, main {
    width: 960px;
}

section {
    width: 495px;
}

aside {
    width: 405px;
}

main {
    height: auto;
}

section, aside {
    height: auto;
}

/************************
    Layout
*************************/

header, nav, footer, section, aside, main {
    text-align: center;
}

header, nav, footer {
    margin: 10px auto;
    padding: 35px 0;
}

main {
    margin: 20px auto;
    padding: 0;
}

section, aside {
    padding: 30px 10px;
}

section {
    float: left;
    margin-left: 0;
}

aside {
    float: right;
    margin-right: 0;
}

article {
    margin: 30px auto;
    padding: 15px;
}

div, p {
    padding: 20px;
}

p {
    margin: 10px auto;
}

div {
    margin: 5px auto;
}

.clear {
    clear: both;
}